<h1><%= t 'activerecord.controllers.static_pages.guru_yoga.menu_title'%></h1>
<h2><%= t 'activerecord.controllers.static_pages.guru_yoga.title_book'%></h2>
<br/>
<h3><%= t 'activerecord.controllers.static_pages.guru_yoga.chapter_title'%></h3>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_1'%></span><br/>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_2'%></span><br/>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_3'%></span><br/>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_4'%></span><br/>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_5'%></span><br/>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_6'%></span><br/>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_7'%></span><br/>
<span><%= t 'activerecord.controllers.static_pages.guru_yoga.par_8'%></span><br/>
