<h1><%= t 'activerecord.controllers.static_pages.home.title' %></h1>
<span class="subtitle"><%= t 'activerecord.controllers.static_pages.home.subtitle' %></span>
<strong><%= t 'activerecord.controllers.static_pages.home.date' %></strong>
<span><%= t 'activerecord.controllers.static_pages.home.location' %></span>
<span><%= t 'activerecord.controllers.static_pages.home.teachers' %></span>
<p><%= t 'activerecord.controllers.static_pages.home.description' %></p>