<h1><%= t 'activerecord.controllers.static_pages.information.menu_title' %></h1>
<div id="page_content">
<h3> <%= t 'activerecord.controllers.static_pages.information.prices.title' %> </h3>

<strong><%= t 'activerecord.controllers.static_pages.information.prices.full' %></strong>
<table class="table">
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_1_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_1_2' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_2_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_2_2' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_3_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_3_2' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_4_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_4_2' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_5_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.full_5_2' %></td>
	</tr>
</table>

<strong><%= t 'activerecord.controllers.static_pages.information.prices.discount' %></strong>
<table class="table">
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.discount_1_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.discount_1_2' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.discount_2_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.discount_2_2' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.discount_3_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.discount_3_2' %></td>
	</tr>
</table>

<strong><%= t 'activerecord.controllers.static_pages.information.prices.escort' %></strong>
<table class="table">
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.escort_1_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.escort_1_2' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.escort_2_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.escort_2_2' %></td>
	</tr>
</table>

<strong><%= t 'activerecord.controllers.static_pages.information.prices.child' %></strong>
<table class="table">
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.prices.child_1_1' %></td>
		<td></td>
	</tr>
</table>

<h4><%= t 'activerecord.controllers.static_pages.information.prices.discount_info' %></h4>
<ul>
	<li><%= t 'activerecord.controllers.static_pages.information.prices.discount_info_line' %></li>
</ul>

<h3> <%= t 'activerecord.controllers.static_pages.information.food.title' %> </h3>
<p><%= t 'activerecord.controllers.static_pages.information.food.info' %> <b><%= t 'activerecord.controllers.static_pages.information.food.info_3_meals' %></b></p>
<strong><%= t 'activerecord.controllers.static_pages.information.food.prepayed_title' %></strong>
<table class="table">
	<tr>
		<td><i><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_1' %></i></td>
		<td/><td/>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_1_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_1_2' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_1_3' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_2_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_2_2' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_2_3' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_3_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_3_2' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_3_3' %></td>
	</tr>
	<tr>
		<th><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_4_1' %></th>
		<td/>
		<th><%= t 'activerecord.controllers.static_pages.information.food.prepayed_three_time_4_3' %></th>
	<tr><td/><td/><td/></tr>
	<tr/>
	<tr>
		<td><i><%= t 'activerecord.controllers.static_pages.information.food.prepayed_once_1' %></i></td>
		<td/><td/>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_once_1_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_once_1_2' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.prepayed_once_1_3' %></td>
	</tr>
	<tr>
		<th><%= t 'activerecord.controllers.static_pages.information.food.prepayed_once_2_1' %></th>
		<th/>
		<th><%= t 'activerecord.controllers.static_pages.information.food.prepayed_once_2_3' %></th>
	</tr>
</table>

<strong><%= t 'activerecord.controllers.static_pages.information.food.pay_there_title' %></strong>
<table class="table">
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.food.pay_there_1_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.pay_there_1_2' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.pay_there_1_3' %></td>
	</tr>
	<tr>
		<td><%= t 'activerecord.controllers.static_pages.information.food.pay_there_2_1' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.pay_there_2_2' %></td>
		<td><%= t 'activerecord.controllers.static_pages.information.food.pay_there_2_3' %></td>
	</tr>
</table>

<h3> <%= t 'activerecord.controllers.static_pages.information.accomodation.title' %> </h3>
<ul>
	<li><%= t 'activerecord.controllers.static_pages.information.accomodation.paragraph_1' %></li>
	<li><%= t 'activerecord.controllers.static_pages.information.accomodation.paragraph_2' %></li>
	<li><%= t 'activerecord.controllers.static_pages.information.accomodation.paragraph_3' %>
	<a href="http://www.faradtvandor.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_1' %></a>
	<a href="http://www.towellnesshotel.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_2' %></a>
	<a href="http://www.tengerszempanzio.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_3' %></a>
	<a href="http://www.tavifeszek.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_4' %></a></li>
</ul>

<h3> <%= t 'activerecord.controllers.static_pages.information.how_to_get_there.title' %> </h3>
<ul>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.address' %></li>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.gps_coordinates' %></li>
<li><a href=<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.map_link'%>><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.map'%></a></li>
</ul>
<h4><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_car.title' %></h4>
<ul>
	<li>
		<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_car.paragraph_1' %>
	</li>
	<li>
		<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_car.paragraph_2' %>
	</li>
</ul>
	
<h4><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_train.title' %></h4>
<ul>
<li>
	<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_train.paragraph_1' %>
	<a href="http://www.mav-start.hu/">www.mav-start.hu</a>
</li>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_train.paragraph_2' %></li>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_train.paragraph_3' %></li>
</ul>
<h4><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.rented_bus.title' %></h4>
<ul>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.rented_bus.paragraph_1'%></li>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.rented_bus.paragraph_2' %></li>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.rented_bus.paragraph_3' %></li>
<li><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.rented_bus.paragraph_4' %></li>
</ul>

<h3> <%= t 'activerecord.controllers.static_pages.information.parking.title' %> </h3>
<ul>
<li><%= t 'activerecord.controllers.static_pages.information.parking.paragraph_1' %></li>
<li><%= t 'activerecord.controllers.static_pages.information.parking.paragraph_2' %></li>
<li><%= t 'activerecord.controllers.static_pages.information.parking.paragraph_3' %></li>
<li><%= t 'activerecord.controllers.static_pages.information.parking.paragraph_4' %></li>
</ul>

<h3><%= t 'activerecord.controllers.static_pages.information.usefull_information.title' %></h3>
<ul>
<li><b><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_0'%></b></li>
<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_1'%></li>
<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_2'%></li>
<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_3'%></li>
<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_4_4'%></li>
</ul>

<h4><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_4'%></h4>
<ul>
	<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_4_1'%></li>
	<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_4_2'%></li>
	<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_4_3'%></li>
	<li><%= t 'activerecord.controllers.static_pages.information.usefull_information.paragraph_4_5'%></li>
</ul>

<h4><%= t 'activerecord.controllers.static_pages.information.child_care.title' %></h4>
<ul>
<li><%= t 'activerecord.controllers.static_pages.information.child_care.description'%></li>
</ul>
<h4><%= t 'activerecord.controllers.static_pages.information.blood_donation.title' %></h4>
<ul>
<li><%= t 'activerecord.controllers.static_pages.information.blood_donation.description'%></li>
</ul>
<h3><%= t 'activerecord.controllers.static_pages.information.further_information.title' %></h3>
<ul>
<li><%= t 'activerecord.controllers.static_pages.information.further_information.community'%></li>
<li><%= t 'activerecord.controllers.static_pages.information.further_information.address'%></li>
<li><%= t 'activerecord.controllers.static_pages.information.further_information.phone'%></li>
<li><%= t 'activerecord.controllers.static_pages.information.further_information.email'%></li>
<li><a href="www.buddhizmusma.hu">www.buddhizmusma.hu</a></li>
</ul>
</div>