<h1><%= t 'activerecord.controllers.static_pages.information.menu_title' %></h1>

<h2> <%= t 'activerecord.controllers.static_pages.information.accomodation.title' %> </h2>
<ul>
	<li>
		<%= t 'activerecord.controllers.static_pages.information.accomodation.paragraph_1' %>
	</li>
	<li>
		<%= t 'activerecord.controllers.static_pages.information.accomodation.paragraph_2' %>
	</li>
	<li>
		<%= t 'activerecord.controllers.static_pages.information.accomodation.paragraph_3' %>
		<a href="www.faradtvandor.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_1' %></a>
		<a href="www.towellnesshotel.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_2' %></a>
		<a href="www.tengerszempanzio.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_3' %></a>
		<a href="www.tavifeszek.hu"><%= t 'activerecord.controllers.static_pages.information.accomodation.link_4' %></a>
	</li>
</ul>

<h2> <%= t 'activerecord.controllers.static_pages.information.parking.title' %> </h2>
<p>
	<%= t 'activerecord.controllers.static_pages.information.parking.paragraph_1' %>
</p>
<p>
	<%= t 'activerecord.controllers.static_pages.information.parking.paragraph_2' %>
</p>
<p>
	<%= t 'activerecord.controllers.static_pages.information.parking.paragraph_3' %>
</p>
<p>
	<%= t 'activerecord.controllers.static_pages.information.parking.paragraph_4' %>
</p>

<h2> <%= t 'activerecord.controllers.static_pages.information.how_to_get_there.title' %> </h2>
<p>
	<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.title' %>
</p>
<p>
	<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.address' %>
</p>
<p>
	<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.gps_coordinates' %>
</p>
<p>
	<a href="http://maps.google.hu/maps/empw?url=http:%2F%2Fmaps.google.hu%2Fmaps%2Fms%3Fmsid%3D206542884478124380009.0004bad02bbd01cace4cd%26msa%3D0%26ie%3DUTF8%26ll%3D47.706862,19.227672%26spn%3D0.413073,0.301613%26t%3Dm%26vpsrc%3D6%26output%3Dembed&hl=hu&gl=hu"><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.map_link' %></a>
</p>

<h4><%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_car.title' %></h4>
<ul>
	<li>
		<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_car.paragraph_1' %>
	</li>
	<li>
		<%= t 'activerecord.controllers.static_pages.information.how_to_get_there.by_car.paragraph_2' %>
	</li>
</ul>