<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <fieldset>
  <div class="field">
    <%= f.label :bus_trip %><br />
    <%= f.check_box :bus_trip, :class => 'bus_trip' %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.select(:arrival, [['2013-07-12 11:00', '2013-07-12 11:00'], ['2013-07-12 11:00', '2013-07-12 15:00']]) %>
  </div>
  <div class="field">
    <%= f.label :arrival_seats %><br />
    <%= f.select(:arrival_seats, (0...6), {}, :class => 'seats') %>
  </div>
  <div class="field">
    <%= f.label :departure %><br />
    <%= f.select(:departure, [['2013-07-18 20:00', '2013-07-18 20:00'],['2013-07-18 20:00', '2013-07-18 20:00']]) %>
  </div>
  <div class="field">
    <%= f.label :departure_seats %><br />
    <%= f.select(:departure_seats, (0...6), {}, :class => 'seats') %>
  </div>
  <div class="field">
    <%= f.label :flight_date %><br />
    <%= f.datetime_select :flight_date %>
  </div>
  <div class="field">
    <%= f.label :flight_number %><br />
    <%= f.text_field :flight_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</fieldset>
