<h1>Listing children</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Language</th>
    <th>Child care</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.name %></td>
    <td><%= child.age %></td>
    <td><%= child.language %></td>
    <td><%= child.child_care %></td>
    <td><%= child.user.first_name %></td>
    <td><%= link_to 'Show', child %></td>
    <td><%= link_to 'Edit', edit_child_path(child) %></td>
    <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Child', new_child_path %>
