  <fieldset>
  <%= f.fields_for :children do |builder| %>
  <h2><%= t 'child' %></h2>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
    </div>
    <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
    </div>
    <div class="field">
    <%= f.label :child_care %><br />
    <%= f.check_box :child_care %>
    </div>
    <h3><%= t 'childmeal' %></h3>
      <table>
      <tr>
      <th><%= Meal.human_attribute_name(:meal_date) %></th>
      <th><%= Meal.human_attribute_name(:food_type) %></th>
      <th><%= Meal.human_attribute_name(:meal_type) %></th>
      </tr>
      <% @meal_dates.each do |meal_date| %>
        <%= f.fields_for :meals do |ff| %>
        <tr>
        <td><%= ff.text_field :meal_date, :value => meal_date %></td>
        <td><%= ff.hidden_field :food_type, :class => 'FoodType', :value => 'vegetarian'%></td>
        <td><%= ff.select(:meal_type, [['Lunch', 1], ['Three Meals', 3], ['None', nil]]) %></td>
        </tr>
        <% end %>
      <% end %>
      </table>
    <%= f.link_to_remove "Remove child", class: "remove_fields" %>
    <% end %>
  </fieldset>
  