<div class="field">
	<%= f.label :meal_date %>
    <%= f.date_select :meal_date %>
</div>
<div class="field">
    <%= f.label :food_type %>
    <%= f.text_field :food_type %>
</div>
<div class="field">
    <%= f.label :meal_type %>
    <%= f.text_field :meal_type %>
</div>