<h1>Listing people</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Second name</th>
    <th>Home country</th>
    <th>Phone number</th>
    <th>Email address</th>
    <th>Price method</th>
    <th>Price category</th>
    <th>Payment</th>
    <th>Child care</th>
    <th>Child age</th>
    <th>Child language</th>
    <th>Reference number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.second_name %></td>
    <td><%= person.home_country %></td>
    <td><%= person.phone_number %></td>
    <td><%= person.email_address %></td>
    <td><%= person.price_method %></td>
    <td><%= person.price_category %></td>
    <td><%= person.payment %></td>
    <td><%= person.child_care %></td>
    <td><%= person.child_age %></td>
    <td><%= person.child_language %></td>
    <td><%= person.reference_number %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
