<div class="child_fields">
  <fieldset>
  <%= f.fields_for :children do |builder| %>
  <h2><%= t 'child' %></h2>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
    </div>
    <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
    </div>
    <div class="field">
    <%= f.label t 'wanna_child_care' %><br />
    <%= f.check_box :child_care %>
    </div>
    <%= f.link_to_remove t('remove_child'), class: "remove_fields btn btn-small btn-danger" %>
    <% end %>
  </fieldset>
</div>
  