<fieldset>
  <%= f.fields_for :travels do |builder| %>
  <div class="field">
    <%= f.label :bus_trip %><br />
    <%= f.check_box :bus_trip %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.select(:arrival, [['2013-07-09 11:00', '2013-07-09 11:00'], ['2013-07-09 17:00', '2013-07-09 17:00']]) %>
  </div>
  <div class="field">
    <%= f.label :arrival_seats %><br />
    <%= f.select(:arrival_seats, (0...6)) %>
  </div>
  <div class="field">
    <%= f.label :departure %><br />
    <%= f.select(:departure, [['2013-07-14 17:00', '2013-07-14 17:00']]) %>
  </div>
  <div class="field">
    <%= f.label :departure_seats %><br />
    <%= f.select(:departure_seats, (0...6)) %>
  </div>
  <div class="field">
    <%= f.label :flight_date %><br />
    <%= f.datetime_select :flight_date %>
  </div>
  <div class="field">
    <%= f.label :flight_number %><br />
    <%= f.text_field :flight_number %>
  </div>
  <% end %>