<p id="notice">
	<%= notice %>
</p>

<p>
	<b>First name:</b>
	<%= @user.first_name %>
</p>

<p>
	<b>Second name:</b>
	<%= @user.second_name %>
</p>

<p>
	<b><%= t('home_country_name') %></b>
	<%= @user.home_country %>
</p>

<p>
	<b><%= t('phone_number') %></b>
	<%= @user.phone_number %>
</p>

<p>
	<b><%= t('email_address') %></b>
	<%= @user.email_address %>
</p>

<p>
	<b>Price category:</b>
	<%= @user.price_category %>
</p>

<p>
	<b><%= t 'payment' %></b>
	<%= @user.payment %>
</p>
<p>
	<b>Reference number:</b>
	<%= @user.reference_number %>
</p>

<h3><%= t("meals") %></h3>
<table border="1px"  cellpadding="3">
	<% @meals.each do |meal| %>
	<tr>
		<th>Meal date</th>
		<th>Meal type</th>
	</tr>
	<tr>
		<td> <%= meal.first_day %> </td>
		<td> <%= show_meal_type(meal.first_day_meal_type) %> </td>
	</tr>
	<tr>
		<td> <%= meal.second_day %> </td>
		<td> <%= show_meal_type(meal.second_day_meal_type) %> </td>
	</tr>
	<tr>
		<td> <%= meal.third_day %> </td>
		<td> <%= show_meal_type(meal.third_day_meal_type) %> </td>
	</tr>
	<tr>
		<td> <%= meal.fourth_day %> </td>
		<td> <%= show_meal_type(meal.fourth_day_meal_type) %> </td>
	</tr>
	<tr>
		<td> <%= meal.fifth_day %> </td>
		<td> <%= show_meal_type(meal.fifth_day_meal_type) %> </td>
	</tr>
	<tr>
		<td> <%= meal.sixth_day %> </td>
		<td> <%= show_meal_type(meal.sixth_day_meal_type) %> </td>
	</tr>
	<tr>
		<td> 2013-07-14 </td>
		<td> <%= show_meal_type(meal.seventh_day_meal_type) %> </td>
	</tr>
	<tr>
		<td> <%= t('your_food_type') %> </td>
		<td> <%= meal.food_type %> </td>
	</tr>
	<% end %>
</table>

<h3>Children</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Language</th>
		<th>Child care</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @children.each do |child| %>
	<tr>
		<td><%= child.name %></td>
		<td><%= child.age %></td>
		<td><%= child.language %></td>
		<td><%= child.child_care %></td>
		<td><%= link_to 'Show', child %></td>
		<td><%= link_to 'Edit', edit_child_path(child) %></td>
		<td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>

<h2>Program Registration</h2>
<table>
	<tr>
		<th>Program id</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @registrations.each do |registration| %>
	<tr>
		<td><%= registration.program_id %></td>
		<td><%= link_to 'Show', registration %></td>
		<td><%= link_to 'Edit', edit_registration_path(registration) %></td>
		<td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
<h3><%= t 'travel' %></h3>
<table>
	<tr>
		<th>Arrival</th>
		<th>Bus trip</th>
		<th>Arrival seats</th>
		<th>Departure seats</th>
		<th>Departure</th>
		<th>Flight number</th>
		<th>Flight date</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @travels.each do |travel| %>
	<tr>
		<td><%= travel.arrival %></td>
		<td><%= travel.bus_trip %></td>
		<td><%= travel.arrival_seats %></td>
		<td><%= travel.departure_seats %></td>
		<td><%= travel.departure %></td>
		<td><%= travel.flight_number %></td>
		<td><%= travel.flight_date %></td>
		<td><%= link_to 'Show', travel %></td>
		<td><%= link_to 'Edit', edit_travel_path(travel) %></td>
		<td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
