<p id="notice"><%= notice %></p>

<p>
  <b>Food type:</b>
  <%= @meal.food_type %>
</p>

<p>
  <b>First day:</b>
  <%= @meal.first_day %>
</p>

<p>
  <b>First day meal type:</b>
  <%= @meal.first_day_meal_type %>
</p>

<p>
  <b>Second day:</b>
  <%= @meal.second_day %>
</p>

<p>
  <b>Second day meal type:</b>
  <%= @meal.second_day_meal_type %>
</p>

<p>
  <b>Third day:</b>
  <%= @meal.third_day %>
</p>

<p>
  <b>Third day meal type:</b>
  <%= @meal.third_day_meal_type %>
</p>

<p>
  <b>Fourth day:</b>
  <%= @meal.fourth_day %>
</p>

<p>
  <b>Fourth day meal type:</b>
  <%= @meal.fourth_day_meal_type %>
</p>

<p>
  <b>Fifth day:</b>
  <%= @meal.fifth_day %>
</p>

<p>
  <b>Fifth day meal type:</b>
  <%= @meal.fifth_day_meal_type %>
</p>

<p>
  <b>Sixth day:</b>
  <%= @meal.sixth_day %>
</p>

<p>
  <b>Sixth day meal type:</b>
  <%= @meal.sixth_day_meal_type %>
</p>

<p>
  <b>Seventh day:</b>
  <%= @meal.seventh_day %>
</p>

<p>
  <b>Seventh day meal type:</b>
  <%= @meal.seventh_day_meal_type %>
</p>

<p>
  <b>User:</b>
  <%= @meal.user %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
