
<h3>Coming by Airplane</h3>

<table class="table">
  <tr>
  	<th>First name</th>
  	<th>Second name</th>
  	<th>Country</th>
  	<th>Email</th>
    <th>Flight number</th>
    <th>Flight date</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @flyers.each do |travel| %>
  <tr>
  	<td><%= travel.user.first_name %></td>
  	<td><%= travel.user.second_name %></td>
  	<td><%= travel.user.home_country %></td>
  	<td><%= travel.user.email_address %></td>
    <td><%= travel.flight_number %></td>
    <td><%= travel.flight_date %></td>
    <td><%= travel.user.phone_number %></td>
    <td><%= link_to 'Show', travel %></td>
    <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
    <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h3>Going by bus</h3>
<table class="table">
  <tr>
  	<th>First name</th>
  	<th>Second name</th>
  	<th>Country</th>
  	<th>Email</th>
  	<th>Phone number</th>
  	<th>Bus trip</th>
    <th>Arrival</th>
    <th>Arrival seats</th>
    <th>Departure</th>
    <th>Departure seats</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @doggers.each do |travel| %>
  <tr>
  	<td><%= travel.user.first_name %></td>
  	<td><%= travel.user.second_name %></td>
  	<td><%= travel.user.home_country %></td>
  	<td><%= travel.user.email_address %></td>
  	<td><%= travel.user.phone_number %></td>
  	<td><%= travel.bus_trip %></td>
    <td><%= travel.arrival %></td>
    <td><%= travel.arrival_seats %></td>
    <td><%= travel.departure %></td>
    <td><%= travel.departure_seats %></td>
    <td><%= link_to 'Show', travel %></td>
    <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
    <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>